{% extends 'main/base.html' %}

{% block subnavbar %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'profile' %}">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reset password</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="w-75 mx-auto mt-5" style="max-width:570px;min-width:270px">
        <div class="alert alert-success">
            An email has been sent to you with a link to reset your password.
        </div>
    </div>
{% endblock %}