{% extends 'main/base.html' %}

{% block subnavbar %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reset password</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="w-75 mx-auto mt-5" style="max-width:570px;min-width:270px">
        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                       id="email" placeholder="Email" name="email"
                       value="{{ form.email.value|default_if_none:"" }}"
                       required autofocus/>
                <div class="invalid-feedback">{{ form.email.errors }}</div>
            </div>

            <input type="submit" value="Reset password" class="btn btn-primary">
        </form>
    </div>
{% endblock %}