{% extends 'main/blank.html' %}
{% load static %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">FORM MAKER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'api' %}">API</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'login' %}">Login</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user mr-1" style="font-size:20px;"></i>
                            {{ request.user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'my_forms' %}">My forms</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'form_create' %}">New form</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
