
a {
    outline: 0;
    /* color: #71ace3; */
}

body {
}

/*

.my-navbar {
    background-color: #76bfef;
}

.my-subnavbar {
    background-color: white !important;
}

.my-jumbotron {
    background-color: white;
}

*/